@using System.Diagnostics
@implements IDisposable

<RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
<RadzenComponents @rendermode="InteractiveAuto" />

<RadzenChart ColorScheme="ColorScheme.Pastel" Style="height:500px" @ref="_chart0">
    <ChildContent>
        <RadzenCategoryAxis>
            <RadzenAxisTitle />
        </RadzenCategoryAxis>
        <RadzenLineSeries Stroke="red" Title="Send Latency (ms)" Smooth="true" CategoryProperty="stamp" Data="@_chartData1" ValueProperty="value">
            <RadzenMarkers Visible="false" MarkerType="MarkerType.Auto" />
        </RadzenLineSeries>
        <RadzenLineSeries Stroke="blue" Title="Messages/s" Smooth="true" CategoryProperty="stamp" Data="@_chartData2" ValueProperty="value">
            <RadzenMarkers Visible="false" MarkerType="MarkerType.Auto" />
        </RadzenLineSeries>
        <RadzenLineSeries Stroke="yellow" Title="Tags/s" Smooth="true" CategoryProperty="stamp" Data="@_chartData3" ValueProperty="value">
            <RadzenMarkers Visible="false" MarkerType="MarkerType.Auto" />
        </RadzenLineSeries>
        <RadzenValueAxis Min="0">
            <RadzenAxisTitle />
        </RadzenValueAxis>
    </ChildContent>
</RadzenChart>

<table class="metrics-table">
    <thead>
        <tr><th>Metric</th><th>Latest Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Publisher start time</td><td>@Diagnostics.Singleton.Info.PublisherStartTime</td></tr>
        <tr><td>Connected to broker</td><td>@Diagnostics.Singleton.Info.ConnectedToBroker</td></tr>
        <tr><td>Connected to alt broker</td><td>@Diagnostics.Singleton.Info.ConnectedToAltBroker</td></tr>
        <tr><td>OPC UA sessions</td><td>@Diagnostics.Singleton.Info.NumberOfOpcSessionsConnected</td></tr>
        <tr><td>OPC UA subscriptions</td><td>@Diagnostics.Singleton.Info.NumberOfOpcSubscriptionsConnected</td></tr>
        <tr><td>OPC UA monitored items</td><td>@Diagnostics.Singleton.Info.NumberOfOpcMonitoredItemsMonitored</td></tr>
        <tr><td>OPC UA monitored items queue capacity</td><td>@Settings.Instance.InternalQueueCapacity</td></tr>
        <tr><td>OPC UA monitored items queue current items</td><td>@Diagnostics.Singleton.Info.MonitoredItemsQueueCount</td></tr>
        <tr><td>OPC UA monitored items enqueued</td><td>@Diagnostics.Singleton.Info.EnqueueCount</td></tr>
        <tr><td>OPC UA monitored items enqueue failure</td><td>@Diagnostics.Singleton.Info.EnqueueFailureCount</td></tr>
        <tr><td>Messages sent to broker</td><td>@Diagnostics.Singleton.Info.SentMessages</td></tr>
        <tr><td>Last successful broker message sent at</td><td>@Diagnostics.Singleton.Info.SentLastTime</td></tr>
        <tr><td>Total bytes sent to broker</td><td>@Diagnostics.Singleton.Info.SentBytes</td></tr>
        <tr><td>Average broker message size (bytes)</td><td>@(Diagnostics.Singleton.Info.SentBytes / (Diagnostics.Singleton.Info.SentMessages == 0 ? 1 : Diagnostics.Singleton.Info.SentMessages))</td></tr>
        <tr><td>Average broker message latency (ms)</td><td>@Diagnostics.Singleton.Info.AverageMessageLatency</td></tr>
        <tr><td>Average broker messages/second sent</td><td>@_messagesPerSecond</td></tr>
        <tr><td>Average OPC UA monitored items batched in broker message</td><td>@Diagnostics.Singleton.Info.AverageNotificationsInBrokerMessage</td></tr>
        <tr><td>Average OPC UA monitored items/second sent</td><td>@(_messagesPerSecond * Diagnostics.Singleton.Info.AverageNotificationsInBrokerMessage)</td></tr>
        <tr><td>Broker message send failures</td><td>@Diagnostics.Singleton.Info.FailedMessages</td></tr>
        <tr><td>Broker messages too large to send</td><td>@Diagnostics.Singleton.Info.TooLargeCount</td></tr>
        <tr><td>Missed broker message send intervals</td><td>@Diagnostics.Singleton.Info.MissedSendIntervalCount</td></tr>
        <tr><td>Number of OPC UA monitored items encoded</td><td>@Diagnostics.Singleton.Info.NumberOfEvents</td></tr>
        <tr><td>Current working set (MB)</td><td>@(Process.GetCurrentProcess().WorkingSet64 / (1024 * 1024))</td></tr>
        <tr><td>Broker send interval setting (s)</td><td>@Settings.Instance.DefaultSendIntervalSeconds</td></tr>
        <tr><td>Broker message size setting (bytes)</td><td>@Settings.Instance.BrokerMessageSize</td></tr>
    </tbody>
</table>

@code {

    public class ChartDataItem
    {
        public string stamp { get; set; }
        public double value { get; set; }
    }

    private const double SampleIntervalMs = 3000;

    private RadzenChart _chart0;

    private List<ChartDataItem> _chartData1 = new();
    private List<ChartDataItem> _chartData2 = new();
    private List<ChartDataItem> _chartData3 = new();

    private long _lastNumMessagesSent = 0;

    private float _messagesPerSecond = 0f;

    private System.Timers.Timer _timer;

    protected override void OnInitialized()
    {
        _timer = new System.Timers.Timer();
        _timer.Interval = SampleIntervalMs;
        _timer.Elapsed += OnTimedEvent;
        _timer.AutoReset = true;
        _timer.Enabled = true;
    }

    public void Dispose()
    {
        if (_timer != null)
        {
            _timer.Enabled = false;
            _timer.Elapsed -= OnTimedEvent;
            _timer.Dispose();
            _timer = null;
        }
    }

    void OnTimedEvent(object source, System.Timers.ElapsedEventArgs e)
    {
        InvokeAsync(async () =>
        {
            _messagesPerSecond = (float)((Diagnostics.Singleton.Info.SentMessages - _lastNumMessagesSent) / (SampleIntervalMs / 1000.0));
            string now = DateTime.Now.ToLongTimeString();

            _chartData1.Add(new ChartDataItem() { stamp = now, value = Diagnostics.Singleton.Info.AverageMessageLatency });
            _chartData2.Add(new ChartDataItem() { stamp = now, value = _messagesPerSecond });
            _chartData3.Add(new ChartDataItem() { stamp = now, value = _messagesPerSecond * Diagnostics.Singleton.Info.AverageNotificationsInBrokerMessage });

            if (_chartData1.Count > 15)
            {
                _chartData1.RemoveAt(0);
            }

            if (_chartData2.Count > 15)
            {
                _chartData2.RemoveAt(0);
            }

            if (_chartData3.Count > 15)
            {
                _chartData3.RemoveAt(0);
            }

            _lastNumMessagesSent = Diagnostics.Singleton.Info.SentMessages;

            await _chart0.Reload().ConfigureAwait(false);
            await InvokeAsync(StateHasChanged).ConfigureAwait(false);
        });
    }
}
